.main-slider{
    width: 100%;
    .slider-item{
        width: 100%;
        position: relative;
        img{
            width: 100%;
            position: relative;
            
        }
       .content{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translateY(-50%);
            padding-right: 5%;
            margin-top: 20px;
            margin-left: -17px;
            @media(max-width : 1680px){
                margin-top: 0px;
                margin-left: 0;
            }
            h2{
                width: 78%;
                color: #fff;
                margin-bottom: 70px;
                line-height: 45px;
                @media(max-width: 1500px){
                    line-height: 38px;
                }
            }
            a{
               padding: 13px 29px;
               color: #fff;
               border: 1px solid #fff;
               text-decoration: none;


            }
       } 
       &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }     
    }
    .owl-nav{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .next-slide{
        position: absolute;
        top: 0;
        right: 1%;
        color: #fff;
        font-size: 20px;
        margin-top: -20px;
        @media(max-width : 1680px){
            margin-top: 0px;
        }
    }
    .prev-slide{
        position: absolute;
       top: 0;
        left: 1%;
        color: #fff;
        font-size: 20px;
        margin-top: -20px;
        @media(max-width : 1680px){
            margin-top: 0px;
        }
    }
    
    .main-slider [type=button]:not(:disabled), .main-slider [type=reset]:not(:disabled), .main-slider [type=submit]:not(:disabled), .main-slider button:not(:disabled){
        color: red;
    }
}