.main-slider{
    width: 100%;
    .slider-item{
        width: 100%;
        position: relative;
        img{
            width: 100%;
            position: relative;
            
        }
       .content{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translateY(-50%);
            padding-right: 5%;
            h1{
                
                color: #fff;
                margin-bottom: 70px;
                line-height: 38px;
            }
            a{
               padding: 10px 30px;
               color: #fff;
               border: 1px solid #fff;
               text-decoration: none;


            }
       } 
       &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }     
    }
    .owl-nav{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .next-slide{
        position: absolute;
      top: 0;
        right: 3%;
        color: #fff;
        font-size: 20px;
    }
    .prev-slide{
        position: absolute;
       top: 0;
        left: 3%;
        color: #fff;
        font-size: 20px;
    }
    
    .main-slider [type=button]:not(:disabled), .main-slider [type=reset]:not(:disabled), .main-slider [type=submit]:not(:disabled), .main-slider button:not(:disabled){
        color: red;
    }
}