.about-section1{
    padding: 80px 0;
}
.about-section2{
    img{
        width: 100%;
        max-width: 100%;
    }
}
.about-section3{
    padding: 80px 0;
    .list-menu-tababout{
        display: flex;
        flex-direction: column;
        li{
            margin-bottom: 20px;
            a{
                color: black;
                padding: 0;

            }
            a.active{
                color: $primary-color;
                background: none;
                font-family: $font-helve-bold;
            }
        }
        
    }
    .content-tab .left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .views{
            margin-bottom: 11px;
            a{
                padding: 10px 30px;
                color: $primary-color;
                border: 1px solid $primary-color;
                text-decoration: none;
            }
        }
    }
    .right-img{
        img{
            width: 80%;
            float: right;
        }
    }
}

.section4-about{
    background: #E7E7E7;
    padding: 60px 0;
    color: $primary-color;
    p.title{
        margin-bottom: 10px;
    }
}
.section5-about{
    padding: 80px 0;
    .desc-right{
        margin-bottom: 45px;
    }
    .admin-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $primary-color;
        .view{
            margin-bottom: 11px;
            a{
                padding: 10px 30px;
                border: 1px solid $primary-color;
                color: $primary-color;
                text-decoration: none;
            }
        }
    }
    .list-admin-slider{
        .admin-item{
            opacity: 0.7;
            &:hover{
                opacity: 1;
            }
            h5{
                margin: 15px 0;
                line-height: 19px;
            }
            .desc{
                font-size: 13px;
                font-family: $font-helve-light;
                line-height: 17px;
                color: black;
            }
        }
        .owl-nav{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            .prev-slide{
                position: absolute;
                top: 0;
                left: -5%;
                color: #A8A9AD;
            }
            .next-slide{
                position: absolute;
                top: 0;
                right: -5%;
                color: #A8A9AD;
            }
        }
    }
}
.content-show-mobie{
    display: none;
}