.footer{
    background: $primary-color;
    .footer-logo{
        width: 100%;
        img{
            max-width: 100%;
            width: 80%;
        }
    }
    .footer-content{
        padding: 65px 0 30px 0;
        .menu-footer{
            .list-menu-footer{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                li{
                    width: 50%;
                    margin-bottom: 15px;
                    a{
                        color: #A8A9AD;
                        text-decoration: none;
                    }
                }
                li.active a{
                    color: #fff;
                }
                li:hover a{
                    color: #fff;
                }
            }
        }
        .link-another {
            li{
                margin-bottom: 15px;
                a{
                    color: #A8A9AD;
                    text-decoration: none;
                }
            }
            li:hover a{
                color: #fff;
            }
        }
        .footer-right{
            p{
                font-family: $font-helve-italic;
                font-size: 15px;
                color: #A8A9AD;
                margin-bottom: 15px;
                display: flex;
                justify-content: flex-end;
            }
            ul{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                li{
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
        }
        .end-home{
            margin-top: 30px;
            .language-footer{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                li{
                    font-size: 15px;
                    margin-left: 10px;
                    a{
                        color: #A8A9AD;
                        text-decoration: none;
                    }
                }
            }
        }
        .coppy-right{
            font-size: 15px;
            color: #fff;
            font-family: $font-helve-light;
        }
        .footer-mid .list-menu-footer{
            flex-direction: column;
            li{
                width: 100%;
            }
        }
    }
}

html:lang(vi) .footer .footer-content .end-home .language-footer li.lang-vi ,
html:lang(vi) .language-search li.lang-vi {
    width: 33px;
    height: 33px;
    background: #143961;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-helve;
}
html:lang(vi) .footer .footer-content .end-home .language-footer li.lang-vi a,
html:lang(vi) .language-search li.lang-vi a{
    color: #fff;
}
html:lang(en) .footer .footer-content .end-home .language-footer li.lang-en a,
html:lang(en) .language-search li.lang-en a{
    color: #ffff;
    padding: 5px;
    background: #143961;
    border-radius: 5px;
}

html:lang(vi) .link-en-detail{
    display: none;
}
html:lang(en) .link-vi-detail{
    display: none;
}