.new-section1 {
    padding: 80px 0;
    .new-title {
        color: #0D3F75;
    }
    @media (max-width: 995px) {
        padding: 40px 0;
    }
    h1 {
        @media (max-width: 993px) {
            margin-bottom: 30px;
        }
    }
}

.new--banner {
    .new--slider__item {
        width: 100%;
        position: relative;
        img {
            width: 100%;
            height: 490px;
            @media(max-width: 767px) {
                height: 350px;
            }
            @media(max-width: 480px) {
                height: 300px;
            }
            @media(max-width: 400px) {
                height: 270px;
            }
            @media(max-width: 360px) {
                height: 250px;
            }
            @media(max-width: 320px) {
                height: 200px;
            }
        }
    }
    .content--infor {
        z-index: 222;
        color: #ffff;
        // width: 32%;
        margin-left: 20px;
        h4 {
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .content {
        background-color: rgba(13, 63, 117, 0.7);
        // opacity: .5;
        z-index: -1;
        // mix-blend-mode: multiply;
        position: absolute;
        top: 0;
        width: 38%;
        // right: 3rem;
        right: 0;
        height: 100%;
        z-index: 2;
        padding-right: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffff;
        .new--time {
            margin: 1.6rem 0rem;
        }
        .new--info {
            font-size: 12px;
            padding: 4px 5px;
            background-color: #0D3F75;
            color: #fff;
        }
        .new--item {
            font-size: 13px;
            color: #8F8F8F;
        }
    }
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #315C8A;
    height: 45px;
    background: $primary-color;
    color: #fff;
    font-family: $font-helve;
    display: flex;
    align-items: center;
}

.select2-results__option,
.select2-results__option--selectable {
    height: 45px;
    background: $primary-color;
    color: #fff;
    font-family: $font-helve;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:hover {
    background: #315C8A;
    padding: 0 18px;
}

.select2-container--default .select2-results__option--selected {
    background: $primary-color;
}

.select2-container .select2-results .select2-results__options .select2-results__option.select2-results__option--selectable {}

.select2-container--open .select2-dropdown--below {
    border: none;
}

.view-posts-mobie {
    display: none;
}

.posts-form-fiter {
    margin-top: 15px;
    form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .select2-container {
            margin-right: 30px;
            font-family: $font-helve;
        }
        .select2-container .select2-selection--single {
            height: 45px;
            border: 1px solid #D9E1E9;
            border-radius: 0;
        }
        .select2-container .select2-selection--single .select2-selection__rendered {
            height: 45px;
            display: flex;
            align-items: center;
            color: $primary-color;
            padding: 0 15px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 45px;
            display: flex;
            align-items: center;
        }
        select {
            width: 290px;
            @media(max-width: 480px) {
                width: 100%;
            }
            height: 45px;
            border: 1px solid #E3E9EF;
            outline: none;
            padding: 0 12px;
            margin-right: 30px;
            -moz-appearance:none;
            /* Firefox */
            -webkit-appearance:none;
            /* Safari and Chrome */
            appearance:none;
            position: relative;
            color: $primary-color;
            background: transparent;
            background-repeat: no-repeat;
            background-position-x: 94%;
            background-position-y: 50%;
            option {
                background: $primary-color;
                height: 45px!important;
                color: #fff;
                padding: 12px 0;
                font-weight: normal;
                line-height: 50px;
                &:hover {
                    color: #315C8A;
                }
            }
        }
    }
}

.filter {
    padding: 80px 0 70px;
    .filter--title {
        color: #0D3F75;
    }
    .btn {
        width: 100%;
        border-radius: 0px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        img {
            width: 8px;
            height: 5px;
        }
    }
    .btn-secondary {
        background-color: transparent;
        border-color: #B5C5D5;
        color: #0D3F75;
        // text-align: left;
        img {
            margin-top: 10px;
        }
    }
    .dropdown-menu {
        width: 100%;
        border-radius: 0%;
        background-color: #0D3F75;
         :hover {
            background-color: #315C8A;
        }
    }
    .dropdown-item {
        color: #fff;
        padding: 1rem 1.5rem;
    }
    .filter--option {
        flex: 0 0 27.5%;
        max-width: 27.5%;
        @media (max-width: 767px) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.new {
    a {
        text-decoration: none;
        color: #fff;
    }
    img {
        width: 100%;
    }
    .new--content {
        padding: 30px 0;
    }
    .new--title {
        color: #0D3F75;
        overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
        text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
        -webkit-line-clamp: 2; // số dòng muốn hiển thị
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    .new--time {
        margin: .5rem 0rem;
        font-size: 13px;
        @media (max-width: 993px) {
            margin: 0.2rem 0rem;
        }
    }
    .new--info {
        @include minAndMaxWidth (767, 993) {
            // width: 7.5rem;
            // display: block;
            // padding: 1px 15px;
        }
        padding: 4px 15px;
        margin-right: 5px;
        background-color: #0D3F75;
        color: #fff;
        font-size: 12px;
    }
    .new--item {
        color: #8F8F8F;
    }
    .new--des {
        color: black;
        overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
        -webkit-line-clamp: 3; // số dòng muốn hiển thị
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
}

.gama--naviga {
    padding: 30px 0px 70px;
    .page-item {
        margin: 0px 0.3rem;
        a {
            color: #0D3F75;
            border-radius: 0;
            img {
                margin-left: 10px;
            }
        }
    }
}

.serach-no-item {
    min-height: 50vh;
    background: #fff;
    border: none;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-content .blod-new {
    padding-bottom: 80px;
}

.page-content .page-item {
    margin-right: 10px;
}

.page-content .page-item .page-link {
    color: $primary-color;
    font-family: $font-helve;
    font-size: 18px;
    padding: 12px 15px;
    border: 1px solid #CAD5E1;
}

.page-content .page-item.active .page-link {
    background: $primary-color;
    color: #fff;
}

@media (max-width: 993px) {
    .new--banner {
        .content--infor {}
        .content {
            position: absolute;
            // top: 50%;
            width: 100%;
            // left: 3rem;
            z-index: 2;
            height: 100%;
            // transform: translateY(-50%);
            padding: 0 5%;
            color: #ffff;
            .new--des {
                display: none;
            }
            .new--time {
                margin: 0.6rem 0rem;
            }
            .new--info {
                padding: 1px 10px;
            }
        }
    }
}

@media (max-width: 767px) {
    .new--banner {
        .content--infor {}
        .content {
            position: absolute;
            // top: 50%;
            height: 100%;
            width: 100%;
            // left: 3rem;
            z-index: 2;
            // transform: translateY(-50%);
            color: #ffff;
            .new--des {
                display: none;
            }
            .new--time {
                margin: 0.6rem 0rem;
            }
            .new--info {
                padding: 1px 10px;
            }
        }
    }
}