.new-section1 {
    padding: 80px 0;
    .new-title {
        color: #0D3F75;
    }
    @media (max-width: 480px) {
        padding: 40px 0;
    }
    h3 {
        @media (max-width: 993px) {
            margin-bottom: 30px;
        }
    }
}

.new--banner {
    .new--slider__item {
        width: 100%;
        position: relative;
    }
    .content {
        position: absolute;
        top: 65%;
        width: 31%;
        right: 3rem;
        z-index: 2;
        transform: translateY(-50%);
        padding-right: 5%;
        color: #ffff;
        .new--time {
            margin: 1.6rem 0rem;
        }
        .new--info {
            padding: 4px 17px;
            background-color: #0D3F75;
            color: #fff;
        }
        .new--item {
            color: #8F8F8F;
        }
    }
}

.filter {
    padding: 4rem 0;
    .filter--title {
        color: #0D3F75;
    }
    .new-button {
        width: 90%;
        border: 1px solid #B5C5D5;
    }
    .dropdown-menu {
        background-color: #0D3F75;
        width: 90%;
        height: 2rem;
    }
    .row {
        margin: 0px;
        padding: 0px;
    }
    .col-md-3 {
        margin: 0px;
        padding: 0px;
        .dropdown {
            width: 90%;
            height: 2.5rem;
            border-color: #B5C5D5;
            @media (max-width: 767px) {
                width: 100%;
            }
            .option {
                height: 2.5rem;
            }
        }
    }
}

.new {
    a {
        text-decoration: none;
    }
    img {
        width: 100%;
        height: auto;
    }
    .new--title {
        color: #0D3F75;
        overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
        text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
        -webkit-line-clamp: 2; // số dòng muốn hiển thị
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    .new--time {
        margin: 1rem 0rem;
        @media (max-width: 993px) {
            margin: 0.2rem 0rem;
        }
    }
    .new--info {
        @include minAndMaxWidth (767, 993) {
            width: 7.5rem;
            display: block;
            padding: 1px 17px;
        }
        padding: 4px 17px;
        background-color: #0D3F75;
        color: #fff;
    }
    .new--item {
        color: #8F8F8F;
    }
    .new--des {
        color: black;
        overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
        -webkit-line-clamp: 3; // số dòng muốn hiển thị
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
}

.page-item {
    margin: 0px 0.3rem;
    a {
        color: #0D3F75;
        img {
            margin-left: 10px;
        }
    }
}