.partner--info {
    background-color: #E7E7E7;
    padding: 50px 0;
    &__number {
        color: #0D3F75;
    }
}

.vision--partner {
    padding: 70px 0;
    &__title {
        color: #0D3F75;
    }
    &__desc {
        max-width: 300px;
        @media (max-width: 767px) {
            max-width: 100%;
        }
    }
    img {
        width: 100%;
    }
}

.partner-s3 {
    padding: 80px 0px;
    @media (max-width: 767px) {
        img {
            width: 100%;
            height: auto;
        }
    }
    .partner-title {
        ul {
            list-style-type: disc;
            li {
                padding: 0 0 20px 0;
            }
            li:first-child {
                font-family: $font-helve;
                color: #0D3F75;
            }
        }
    }
    .talent-des {
        margin-top: 1rem;
    }
    .content-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .views {
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 20px;
        }
    }
    .partner-views {
        margin-bottom: 10px;
    }
    a.primary-b {
        padding: 10px 30px;
        border: 1px solid $primary-color;
        color: $primary-color;
        text-decoration: none;
        transition: ease-out 0.3s;
        position: relative;
        z-index: 1;
        &:hover {
            color: #fff;
            cursor: pointer;
        }
        &::before {
            transition: 0.5s all ease;
            position: absolute;
            top: 0;
            left: 50%;
            right: 50%;
            bottom: 0;
            opacity: 0;
            content: '';
            background: $primary-color;
        }
        &:hover::before {
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
            z-index: -1;
        }
    }
}

.partner-s1 {
    background-color: #E7E7E7;
    padding: 80px 0;
    .partner--s1__item {
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
        }
        .content-title {
            position: absolute;
            bottom: 20px;
            left: 30px;
            color: #fff;
            z-index: 2;
            .content-none {
                padding-right: 20px;
                animation: mymove 0.5s ease-in;
                transition: transform .5s, visibility .5s ease-in;
                display: none;
                .desc {
                    margin: 20px 0;
                }
                a {
                    display: inline-block;
                    padding: 10px 20px;
                    border: 1px solid #A8A9AD;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            img {
                width: 31px;
            }
        }
    }
    .partner--s1__item:hover .content-none {
        display: block;
    }
}