.post-wrap{
    
    .post-content{
        img{
            max-width: 100%;
            height: auto;
        }
        padding-bottom: 35px;
        border-bottom: 1px solid #cddcec;
        width: 96%;
        .post-title{
            color: $primary-color;
        }
        .description{
            // font-family: $font-helve-light;
            margin-bottom: 30px;
            line-height: 25px;
        }
        .post-share{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 50px;
            .left{
                display: flex;
                li{
                    margin-right: 10px;
                }
                li:first-child{
                    font-family: $font-helve;
                    color: $primary-color;
                }
            }
            .right{
                color: $primary-color;
            }
        }
        .post__content{
            p{
                margin-bottom: 35px;
                @media(max-width : 1680px){
                    margin-bottom: 30px;
                }
                @media(max-width : 995px){
                    margin-bottom: 25px;
                }
                @media(max-width : 767px){
                    margin-bottom: 20px;
                }
            }
        }
    }
    
    .post-relate{
        h2{
            color: $primary-color;
            margin: 35px 0 40px 0;
        }
        .post-relate-item{
            h5 {
                margin-top: 30px;
                height: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                a{
                    color: $primary-color;
                    text-decoration: none;
                }
            }
            .post__desc{
                font-family: $font-helve-light;
                line-height: 21px;
                height: 65px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
        }
    }
}
.post-meta{
    margin: 22px 0;
    .post-category{
        a{
            color: #fff;
            font-family: $font-helve;
            padding: 5px;
            background: $primary-color;
            text-decoration: none;
            font-size: 12px;

        }
    }
    .time{
        font-size: 13px;
        font-family: $font-helve;
        margin-left: 10px;
        color: #8F8F8F;
    }
}
.post-new-wrap h2{
    color: $primary-color;
    margin-bottom: 35px;
}
.post-new-item{
    img{
        width: 100%;
        max-width: 100%;
        // height: 250px;
    }
    margin-bottom: 40px;
    h5 {
        margin-top: 20px;
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        a{
            color: $primary-color;
            text-decoration: none;
        }
    }
}

.post-thumbnail{
    width: 100%;
    height: auto;
    overflow: hidden;
    img{
        width: 100%;
        transition: transform .3s, visibility .3s ease-in;
        &:hover{
            transform: scale(1.5);
        }
    }
}


// category post 

.post-category-wrap{
    padding: 80px 0;
    .post-category-item{
        margin-bottom: 30px;
        img{
            width: 100%;
            max-width: 100%;
        }
        h5 {
            margin-top: 30px;
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            a{
                color: $primary-color;
                text-decoration: none;
            }
        }
        .desc{
            font-family: $font-helve-light;
            line-height: 21px;
            height: 65px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }
}