.opportunity-s2 {
    img {
        width: 100%;
        height: auto;
    }
}

.opportunity-table {
    .thead-light {
        th {
            color: #0D3F75;
            background-color: #E7E7E7;
        }
    }
}

.table td,
.table th {
    padding: 1rem;
    vertical-align: top;
    font-family: $font-helve;
    border-bottom: 1px solid #dee2e6;
}

.opportunity--item {
    color: #0D3F75;
    margin-bottom: 2rem;
}

.opportunity--title {
    color: #0D3F75;
    margin: 2rem 0;
}

.Recruitment--buttom {
    padding: 15px 0 100px;
    .Recruitment--profession {
        background-color: #0D3F75;
        padding: .4rem 1.5rem;
        border-radius: 0%;
    }
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0px;
}

.filteres {
    padding: 80px 0 70px;
    .filter--title {
        color: #0D3F75;
    }
    .btn {
        width: 100%;
        border-radius: 0px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .btn-secondary {
        background-color: transparent;
        border-color: #B5C5D5;
        color: #0D3F75;
        // text-align: left;
        img {
            margin-top: 10px;
        }
    }
    .dropdown-menu {
        width: 100%;
        border-radius: 0%;
        background-color: #0D3F75;
         :hover {
            background-color: #315C8A;
        }
    }
    .dropdown-item {
        padding: 1rem 1.5rem;
    }
    .filteres--option {
        flex: 0 0 19%;
        max-width: 19%;
        @media (max-width: 767px) {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .new--dropdown {
            width: 90%;
            height: 2.5rem;
            border-color: #B5C5D5;
            @media (max-width: 767px) {
                width: 100%;
            }
            .option {
                height: 2.5rem;
            }
        }
    }
}