.talent-s2 {
    img {
        width: 100%;
        height: auto;
    }
}

.talent-s3 {
    padding: 80px 0px;
    img {
        width: 100%;
        height: auto;
    }
    .talent--title {
        color: #0D3F75;
    }
    .talent-des {
        margin-top: 1rem;
    }
}

.talent-s4 {
    background-color: #E7E7E7;
}

.talent-s4 {
    .career--info {
        padding: 4rem 0 0;
        .career-title {
            color: #0D3F75;
        }
    }
    .develop-block {
        color: #ffff;
        .devleop--img {
            position: relative;
        }
        .develop--info {
            position: absolute;
            bottom: 30px;
            padding: 0 3.8rem;
        }
    }
}

.opp-job {
    padding: 60px 0;
    .talent-s5 {
        position: relative;
    }
    .job-title {
        color: #0D3F75;
        margin-top: 30px;
    }
    .block-job {
        margin-top: 30px;
        top: 0;
        position: absolute;
    }
    .job--buttom {
        width: 30%;
        padding: 3rem 0;
        // margin: 0px auto;
        .job--profession {
            background-color: #0D3F75;
            padding: .4rem 1.5rem;
            border-radius: 0%;
        }
    }
}

@media (max-width: 767px) {
    .opp-job {
        text-align: center;
        padding: 30px 0;
        .block-job {
            top: 0;
            position: unset;
        }
        .job--img {
            display: none;
        }
        .job--buttom {
            width: 70%;
            margin: 0 auto;
            padding: 3rem 0;
            margin: 0px auto;
            .job--profession {
                background-color: #0D3F75;
                padding: .4rem 1.5rem;
                border-radius: 0%;
            }
        }
    }
}

@media (max-width: 993px) {
    .opp-job {
        padding: 30px 0;
        .job-title {
            margin-top: 30px;
        }
        .block-job {
            margin-top: 30px;
            top: 0;
            position: unset;
        }
        .job--img {
            display: none;
        }
        .job--buttom {
            width: 70%;
            padding: 3rem 0;
            .job--profession {
                background-color: #0D3F75;
                padding: .4rem 1.5rem;
                border-radius: 0%;
            }
        }
    }
}