.alertify-notifier {
    font-family: $font-helve;
}

.Recruitment-s1 {
    .Recruitment--item1 {
        position: sticky;
        top: 0;
        position: -webkit-sticky;
    }
    .Recruitment {
        .Recruitment--adree {
            line-height: 2rem;
        }
        .Recruitment--buttom {
            padding: 1.5rem 0;
            .Recruitment--profession {
                background-color: #0d3f75;
                padding: 0.4rem 1.5rem;
                border-radius: 0%;
            }
        }
    }
    .Recruitment--title {
        color: #0d3f75;
    }
    .talent--desc {
        ol,
        ul {
            list-style: disc;
            margin-left: 15px;
        }
    }
}

.poup {
    display: none;
    width: 100%;
    max-width: 1000px;
    @media (max-width: 800px) {
        max-width: 500px;
        .poup--block {
            grid-template-columns: 1fr !important;
        }
        img {
            display: none;
        }
        form {
            .btn-submint {
                margin-top: 10px;
            }
        }
    }
    h2 {
        color: #0d3f75;
    }
    .poup--block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &__form {
            flex-direction: column;
            justify-content: space-between;
            padding: 50px;
            .errorTxt {
                .error {
                    font-size: 13px;
                }
            }
        }
        &__img {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        input {
            margin-top: 20px;
        }
        .form-control {
            border-radius: 0px;
        }
        .btn-submint {
            text-align: center;
        }
        .Recruitment--cv {
            background-color: #0d3f75;
            border: 0px;
            border-radius: 0;
            margin-top: 20px;
        }
    }
}

.fancybox-content {
    padding: 0px;
}

.fancybox-slide--html .fancybox-close-small {
    right: 0;
    border: 1px solid #dedede;
    background: #dedede;
    border-radius: 100%;
    margin: 10px;
    padding: 0px;
    top: 0;
    width: 20px;
    height: 20px;
}

svg {
    color: white;
    padding: 0px;
    margin: 0px;
}

.fancybox-bg {
    background-color: #0d3f75;
    opacity: 0.85;
}
