.talent-s3 {
    padding: 80px 0px;
    img {
        width: 100%;
        height: auto;
    }
}

.talent-s2 {
    img {
        width: 100%;
        height: auto;
    }
}

.talent-s4 {
    background-color: #E7E7E7;
}

.talent-s4 {
    .career--info {
        padding: 4rem 0 0;
    }
    .develop-block {
        color: #ffff;
        .devleop--img {
            position: relative;
        }
        .develop--info {
            position: absolute;
            bottom: 30px;
            padding: 0 3.8rem;
        }
    }
}

.job {
    .talent-s5 {
        text-align: center;
        position: relative;
    }
    .job--img {
        img {
            width: 100%;
            height: auto;
            margin-top: 5rem;
        }
    }
    .job--block {
        position: absolute;
        top: 3rem;
        text-align: center;
        width: 100%;
        .job--title {
            width: 44%;
            margin: 0px auto;
            padding: 3rem 0;
        }
        .job--desc {
            width: 66%;
            margin: 0px auto;
            padding: 3rem 0;
        }
        .job--buttom {
            padding: 3rem 0;
            .job--profession {
                background-color: #0D3F75;
                padding: .4rem 1.5rem;
            }
        }
    }
}