.opportunity-s2 {
    img {
        width: 100%;
        height: auto;
    }
}

.opportunity-table {
    .thead-light {
        th {
            color: #0D3F75;
            background-color: #E7E7E7;
        }
    }
}

.table td,
.table th {
    padding: 1rem;
    vertical-align: top;
    font-family: $font-helve;
    border-bottom: 1px solid #dee2e6;
}