.Recruitment-s1 {
    .Recruitment {
        .Recruitment--adree {
            line-height: 2rem;
        }
        .Recruitment--buttom {
            padding: 1.5rem 0;
            .Recruitment--profession {
                background-color: #0D3F75;
                padding: .4rem 1.5rem;
                border-radius: 0%;
            }
        }
    }
    .Recruitment--title {
        color: #0D3F75;
    }
    .talent--desc {}
}